body {
    background-color: #1ABC9C;
}

.navbar {
    background-color: #16A085;
}


.navbar-inverse .navbar-collapse {
    border-color: #16A085;
}

.app-area {
    margin-top: 100px;
    background-color: #1ABC9C;
    margin-bottom: 100px;
}

th[scope="row"] {
    display: none;
}

.pane {
    background-color: #ECF0F1;
    padding: 15px;
    border-radius: 15px !important;
}

.row {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.pane-active {
    transition: opacity 1s ease-in;
    opacity: 1;
    height: auto;
}

.pane-inactive {
    transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;
    padding: 0px !important;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #1ABC9C;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: #BDC3C7;
}

.table-hover>tbody>tr:hover>td,
.table-hover>tbody>tr:hover>th {
    background-color: #1ABC9C;
    color: white;
}


.modal {
    text-align: center;
}

.modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

@media screen and (min-width: 768px) {
    .modal:before {
        display: inline-block;
        vertical-align: middle;
        content: " ";
        height: 100%;
    }
}



@media screen and (max-width: 800px) {
    .pane {
        padding: 5px;
        margin: 10px;
    }
}

